.rounded-circle {
  /*position: absolute;*/
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}

.rounded-circle {
  /*position: absolute;*/
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
}

.rounded-circle {
  border-radius: 50%!important;
}

